<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <title>Entrar</title>

    <script type="application/javascript" src="../public/javascript/script.js"></script>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <h1 class="centralizar">Bem-Vindo</h1>
    <form class="centralizar" action="/sign-in" method="post" onsubmit="validateSignInFields(event);">
        <label class="centralizar" for="email">E-mail:</label>
        <br>
        <input class="inbox" type="email" name="email" id="email">
        <br>
        <label class="centralizar" for="cpf">CPF:</label>
        <br>
        <input class="inbox" type="text" name="cpf" id="cpf">
        <br>
        <br>
        <input type="submit" value="Entrar">
    </form>
</body>
</html>