<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="../public/css/style.css" rel="stylesheet">
    <script src="../public/javascript/script.js" type="application/javascript"></script>
    <title>Entrar</title>
</head>
<body>
    <header class="header">
        <img class="circle" src="../public/images/Blue Circle.png" alt="semicírculo azul" width="150%" height="500px">
        <span class="centralize welcome">Bem-vindo</span>
    </header>
    <main>
        <form class="centralize" action="/sign-in" method="post" onsubmit="validateSignInFields(event);">
            <label class="email" for="email">E-mail</label>
            <input class="inbox" type="email" name="email" id="email">
            <br>
            <label class="cpf" for="cpf">CPF</label>
            <input class="inbox" type="text" name="cpf" id="cpf">
            <br>
            <br>
            <input class="signIn" type="submit" value="Entrar">
        </form>
    </main>
</body>
</html>