<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <h1>Log In</h1>
    <form action="/sign-in" method="post">
        <label for="email">E-mail:</label>
        <br>
        <input type="email" name="email" id="email">
        <br>
        <label for="cpf">CPF:</label>
        <br>
        <input type="text" name="cpf" id="cpf">
        <br>
        <br>
        <input type="submit" value="Entrar">
    </form>
</body>
</html>