body {
    margin: 0;
    padding: 0;
    background-color: #005092;
}

.welcome {
    position: absolute;
    width: 100%;
    transform: translateY(-600%);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 60px;
    color: #fff;
    padding: 0px;
    margin: 0px;
}

p {
    color: #fff;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

.title {
    position: absolute;
    width: 100%;
    transform: translateY(-180%);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 60px;
    color: #fff;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

#header {
    transform: translateY(-260%);
    display: flex;
    justify-content: space-between;
}

.headerLeft {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: #fff;
    padding-left: 15px;
    margin: 0px;
}

.headerRight {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: #fff;
    padding-right: 15px;
    margin: 0px;
}

.inbox {
    border: 0px;
    border-radius: 5px;
    width: 450px;
    height: 40px;
    transform: translateY(-540%);
}

input {
    font-size: 35px;
}

.signIn {
    border-radius: 10px;
    width: 150px;
    height: 70px;
    font-weight: 600;
    font-size: 30px;
    background-color: #0181EB;
    color: #fff;
    transform: translateY(-350%);
    border-color: #005092;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.signIn:hover, .buy:hover, .removeProduct:hover, .buttonQuantity:hover, .invoice:hover {
    background-color: #0176d5;
    transition: 0.3s;
}

label {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 45px;
    color: #fff;
    padding: 0px;
    margin: 0px;
}

.email {
    transform: translate(-130%, -380%);
}

.cpf {
    transform: translate(-240%, -380%);
}

.centralize {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    transform: translate(-15%, -50%);
}

.header {
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.class {
    flex-basis: calc(25% - 10px);
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
}

.border {
    border: 1px solid;
    border-color: #fff;
    border-radius: 5px;
}

.info{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #000;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.price{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #000;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.buy {
    font-family: "Open Sans", sans-serif;
    border-radius: 10px;
    width: 150px;
    height: 60px;
    font-weight: 600;
    font-size: 30px;
    background-color: #0181EB;
    color: #fff;
    border-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

table {
    border-collapse: collapse;
}

th {
    padding: 5px;
}

td {
    padding: 5px;
}

.info span.cart {
    color: #fff;
}

.info span.bill {
    font-weight: 300;
    color: #fff;
}

.removeProduct {
    font-family: "Open Sans", sans-serif;
    border-radius: 10px;
    width: 120px;
    height: 70px;
    font-weight: 600;
    font-size: 20px;
    background-color: #0181EB;
    color: #fff;
    border: 1px solid #005092;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.quantity {
    background-color: #0181EB;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.buttonQuantity {
    background-color: #0181EB;
    padding: 15px;
    border: 0;
    border-radius: 4px;
}

.descriptionCart {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #fff;
    padding: 0px;
    margin: 0px;
    margin-bottom: 100px;
}

.total {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #fff;
    padding: 0px;
    margin: 0px;
}

.pagination {
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.pagination a {
    color: #000;
    background-color: #fff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    border-radius: 5px;
}
.pagination a.active {
    background-color: #0181EB;
    color: #fff;
    border: 1px solid #0181EB;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.invoice {
    font-family: "Open Sans", sans-serif;
    border-radius: 10px;
    width: 290px;
    height: 60px;
    font-weight: 600;
    font-size: 30px;
    background-color: #0181EB;
    color: #fff;
    position: absolute;
    text-align: center;
    padding-top: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.emptyCart {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #fff;
    padding: 0px;
    margin: 0px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0181EB;
    color: white;
    padding: 20px;
    text-align: center;
}

footer p a {
    text-decoration: none;
    color: #fff;
}

footer p a:hover {
    font-weight: bold;
}

.space {
    margin-bottom: 150px;
}