body {
    margin: 0;
    padding: 0;
}

.welcome {
    position: absolute;
    width: 100%;
    transform: translateY(-600%);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 60px;
    color: #fff;
    padding: 0px;
    margin: 0px;
}

.title {
    position: absolute;
    width: 100%;
    transform: translateY(-180%);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 60px;
    color: #fff;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

#header {
    transform: translateY(-260%);
    display: flex;
    justify-content: space-between;
}

.headerLeft {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: #fff;
    padding-left: 15px;
    margin: 0px;
}

.headerRight {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: #fff;
    padding-right: 15px;
    margin: 0px;
}

.inbox {
    border-radius: 5px;
    width: 450px;
    height: 40px;
    transform: translateY(-500%);
}

input {
    font-size: 35px;
}

.button {
    border-radius: 10px;
    width: 150px;
    height: 70px;
    font-weight: 600;
    font-size: 30px;
    background-color: #0181EB;
    color: #fff;
    transform: translateY(-350%);
    border-color: #fff;
}

label {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 45px;
    color: #000;
    padding: 0px;
    margin: 0px;
}

.email {
    transform: translate(-130%, -380%);
}

.cpf {
    transform: translate(-240%, -380%);
}

.centralize {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    transform: translate(-15%, -50%);
}

.header {
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.class {
    flex-basis: calc(25% - 10px);
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.border {
    border: 1px solid;
    border-color: #000;
    border-radius: 5px;
}

.info {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: #000;
    padding: 0px;
    margin: 0px;
}

.buy {
    font-family: "Open Sans", sans-serif;
    border-radius: 10px;
    width: 150px;
    height: 60px;
    font-weight: 600;
    font-size: 30px;
    background-color: #0181EB;
    color: #fff;
    border-color: #fff;
}

table {
    border-collapse: collapse;
}

th {
    border: 1px solid #000;
    border-bottom: 0px;
    padding: 5px;
}

td {
    border: 1px solid #000;
    border-top: 0px;
    padding: 5px;
}

.invoice {
    font-family: "Open Sans", sans-serif;
    border-radius: 10px;
    width: 290px;
    height: 60px;
    font-weight: 600;
    font-size: 30px;
    background-color: #0181EB;
    color: #fff;
    border-color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.removeProduct {
    font-family: "Open Sans", sans-serif;
    border-radius: 10px;
    width: 120px;
    height: 70px;
    font-weight: 600;
    font-size: 20px;
    background-color: #0181EB;
    color: #fff;
    border-color: #fff;
}